body {
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
  background-color: blueviolet;
}

@media (min-width: 700px) {
  #root {
    width: 90%;
  }
}

@media (min-width: 800px) {
  #root {
    width: 80%;
  }
}

@media (min-width: 900px) {
  #root {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  #root {
    width: 60%;
  }
}

@media (min-width: 1100px) {
  #root {
    width: 50%;
  }
}

#appPersonalInfo {
  /* border-radius: 5px 0 0 0; */
  text-align: center;
  border: 2px solid blueviolet in;
  padding: 5px;
  border-bottom: 2px solid red;
}

#appPersonalInfo img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

.toLeft {
  text-align: left;
}

#appContacts {
  /* border-radius: 0 0 0 5px; */
  text-align: center;
  border: 2px solid blueviolet in;
  padding: 5px;
}

#leftPanel {
  width: 33%;
}

#appExperience {
  width: 100%;
  padding: 10px;
}

#main {
  border-left: 2px solid red;
}
